
.az-header {
  height: 60px;
  background-color: #fff;
  box-shadow: 0 0 30px rgba(28, 39, 60, 0.08);
  border-bottom: 1px solid rgba(28, 39, 60, 0.12); }
  @media (max-width: 991.98px) {
    .az-header-menu-show {
      overflow: hidden; }
      .az-header-menu-show .az-header-menu {
        border-right: 1px solid rgba(28, 39, 60, 0.08);
        box-shadow: 0 0 30px rgba(28, 39, 60, 0.08);
        transform: translateX(0); }
      .az-header-menu-show .az-navbar-backdrop {
        visibility: visible;
        opacity: 1; } }
  
  .az-header {
    height: 60px;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(28, 39, 60, 0.08);
    border-bottom: 1px solid rgba(28, 39, 60, 0.12); }
    @media (min-width: 992px) {
      .az-header {
        position: relative;
        z-index: 100;
        height: 64px; } }
    .az-header > .container,
    .az-header > .container-fluid,
    .az-header > .container-sm,
    .az-header > .container-md,
    .az-header > .container-lg,
    .az-header > .container-xl {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px; }
      @media (min-width: 992px) {
        .az-header > .container,
        .az-header > .container-fluid,
        .az-header > .container-sm,
        .az-header > .container-md,
        .az-header > .container-lg,
        .az-header > .container-xl {
          padding-left: 25px;
          padding-right: 25px; } }
    @media (min-width: 992px) {
      .az-header > .container {
        padding: 0; } }
    @media (max-width: 991.98px) {
      .az-header > .container {
        max-width: none; } }
    .az-header .az-header-left .az-logo {
      display: none; }
      @media (min-width: 992px) {
        .az-header .az-header-left .az-logo {
          display: flex; } }
  
  .az-header-left {
    display: flex;
    align-items: center; }
    .az-header-left .az-header-arrow {
      display: none;
      position: relative;
      top: -2px; }