.center {
    left: 2%;
    float: left;
    display: block;
}

.center {
    margin-top: 2%;
    width: 40%;
    border: solid black;
    position: relative;
    padding: 50px 50px;
    background: #fff;
    border-radius: 10px;
}

.noAgua {
    margin-top: 40px;
    float: right;
    position: relative;
    border: 2px solid black;
}

.separador {
    margin-top: 2%;
    left: 50%;
    width: 4px;
    height: 100%;
    background-color: black;
    position: absolute;
}

.seleccion {
    color: dodgerblue;
    font-size: 20px;
}

.center h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
    font-size: 2em;
    border-right: 5px solid dodgerblue;
    padding: 10px;
    color: #000;
    letter-spacing: 3px;
    margin-bottom: 60px;
    font-weight: bold;
    padding-left: 10px;
}

.center .inputbox {
    color: black;
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
}

.center .inputbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

.noAgua .inputbox input {
    position: absolute;
    top: 0;
    float: right;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

.noAgua .inputbox:last-child {
    margin-bottom: 0;
}

.noAgua span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 15px;
    transition: 0.6s;
    font-family: sans-serif;
}

.noAgua input:focus~span,
.noAgua input:valid~span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 15px;
    border: white;
}

.center .inputbox:last-child {
    margin-bottom: 0;
}

.center .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 15px;
    transition: 0.6s;
    font-family: sans-serif;
}

.center .inputbox input:focus~span,
.center .inputbox input:valid~span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 15px;
}

.center .inputbox [type="button"] {
    margin-right: auto;
    margin-left: 25%;
    display: block;
    width: 50%;
    background: ForestGreen;
    color: #fff;
    border: #fff;
}

.center .noAgua.inputbox:hover [type="button"] {
    background: linear-gradient(45deg, greenyellow, dodgerblue);
}

@media (max-width: 500px) {
    .center .inputbox [type="button"] {
        font-size: 15px;
        width: 90%;
        margin-left: 5%;
    }
    .center {
        left: 20%;
        width: 60%;
        padding: 0;
    }
    .center .inputbox {
        margin-top: 18px;
        margin-left: 5%;
        width: 90%;
        margin-bottom: 0;
    }
    .center h1 {
        margin-bottom: 20px;
        font-size: 21px;
        width: 90%;
        height: auto;
    }
    .center .inputbox span {
        position: absolute;
        top: 14px;
        left: 20px;
        font-size: 12px;
        transition: 0.6s;
        font-family: sans-serif;
    }
    .center .inputbox input:focus~span,
    .center .inputbox input:valid~span {
        transform: translateX(-13px) translateY(-30px);
        font-size: 9px;
    }
    .center .inputbox input:valid~span {
        transform: translateX(-13px) translateY(-30px);
        font-size: 9px;
    }
    .separador {
        display: none;
    }
}